<p>
  {{idToken}} profile!
</p>
<!-- <p>
  Address = {{address.street}},{{address.city}},{{address.state}}
</p> -->

<!-- <input type="text" #hobby />
<button (click) = "onClick(hobby.value)">Add</button>

<ul>
  <li *ngFor="let hobby of hobbies; let i = index">{{i+1}} : {{hobby}}</li>
</ul>

<ul>
  <li *ngFor="let post of posts">{{post.title}}</li>
</ul> -->