<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular</a>
  
        <button
          class="btn btn-primary btn-margin"
          routerLink="/">
            Home
        </button>
        
        <button
          class="btn btn-primary btn-margin"
          routerLink="/user">
            User
        </button>  

        <button
          class="btn btn-primary btn-margin"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()">
            Log In
        </button>
  
        <button
          class="btn btn-primary btn-margin"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()">
            Log Out
        </button>
  
      </div>
    </div>
  </nav>
  
  <main class="container">
    <router-outlet></router-outlet>
  </main>